*{
    font-family: 'Montserrat', sans-serif;
}

form h2{
    text-align: center;
    color: white;
}

.container{
    background-color: hsl(204, 71%, 25%);
    border-radius: 8px;
    height: 450px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.text-input{
    margin: 10px;
    margin-left: 60px;
    margin-top: 100px;
    color: white;
}


.text-input input{
    border-radius: 4px;
    outline: none;
    border: 0px;
    height: 20px;
}

.text-input1{
    margin: 10px;
    margin-left: 60px;
    color: white;
}

.text-input1 input{
    border-radius: 4px;
    outline: none;
    border: 0px;
    height: 20px;
}

.label-r{
    margin-left: 59px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}

.radio-g{
    color: white;
    float: left;
    margin-left: 50px;
}

.radio-g1{
    color: white;
    float: right;
    margin-right: 60px;
    margin-bottom: 20px;
}

.submit-btn{
    margin-left: 100px;
}

.submit-btn button{
    background-color: #F1EFEF;
    height: 25px;
    width: 90px;
    outline: none;
    border: 0;
    border-radius: 4px;
}